@model ResultBlogByIdDto
<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.title</h2>
    <p>@Model.description</p>
    <p>
        <img src="~/carbook-master/images/@Model.coverImageUrl" alt="" class="img-fluid">
    </p>
    @await Component.InvokeAsync("_BlogDetailTagCloudByBlogComponentPartial", new {blogId = Model.id} )

    <!--Yazar bilgini sadece getirmek istersen ekleyebilirsin. AKlımda blog detail'
       den blog'a include ardından da then include ile author tablosundaki veriyi çekmek var-->
    @await Component.InvokeAsync("_BlogDetailAuthorComponentPartial", new {authorId = Model.authorId, blogId = Model.id})


    <div class="pt-5 mt-5">
        @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new {blogId = Model.id})
     
        <!-- END comment-list -->
        @await Component.InvokeAsync("_AddCommentByBlogComponentPartial")
       
    </div>

</div> 