@model List<ResultBlogDetailCommentsDto>
   <h3 class="mb-5">Yorumlar</h3>
   <ul class="comment-list">
       @foreach (var item in Model)
       {
           <li class="comment">
               <div class="vcard bio">
                   <img src="~/carbook-master/images/@item.imageUrl" alt="Image placeholder">
               </div>
               <div class="comment-body">
                   <h3>@item.name</h3>
                   <div class="meta">@item.createDate.ToShortDateString()</div>
                   <p>@item.description</p>
                   <p><a href="#" class="reply">Reply</a></p>
               </div>
           </li>
       }



   </ul>